@model RepairTracker.DBModels.Repair

@{
    ViewData["Title"] = "Review Repair";
}
<div>
    <h1>Review on repair: @Model.RepairId</h1>
    @await Html.PartialAsync("_RepairHeaderPartialView", Model)
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RepairId">Edit</a> |
    <a asp-action="RepairsIndex">Back to List</a>
</div>
