@model RepairTracker.Controllers.RepairsViewModel

@using RepairTracker.Controllers

@{
    ViewData["Title"] = "Repairs Index";
}

<h1>Repairs Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>Active repairs</h2>
@await Html.PartialAsync("_RepairListPartialView", Model.ActiveRepairs)

<h2>Backlog</h2>
@await Html.PartialAsync("_RepairListPartialView", Model.Backlog)

<h2>Completed repairs</h2>
@await Html.PartialAsync("_RepairListPartialView", Model.History)

