@model RepairTracker.Controllers.RepairsViewModel

@using RepairTracker.Controllers

@{
    ViewData["Title"] = "Repairs Index";
}

<h1>Repairs Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>Active repairs</h2>
@await Html.PartialAsync("_RepairListPartialView", Model.ActiveRepairs, new ViewDataDictionary(ViewData) { { "Mode", "Active" } })

<h2>Backlog</h2>
@await Html.PartialAsync("_RepairListPartialView", Model.Backlog, new ViewDataDictionary(ViewData) { { "Mode", "Backlog" } })

<h2>Completed repairs</h2>
@await Html.PartialAsync("_RepairListPartialView", Model.History, new ViewDataDictionary(ViewData) { { "Mode", "History" } })

